{% extends 'todo/base.html' %}
{% block content %}
<h2>{% if task %}Edit{% else %}Add{% endif %}Task</h2>
{% if error %}<div class="alert alert-danger">{{ error }}</div>
{% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <lebel class="form-label">Title</lebel>
            <input type="text" name="title" class="form-control" value="{{ task.title}}">
        </div>
        <div class="mb-3">
            <lebel class="form-label">Description</lebel>
            <textarea name="description" class="form-control" rows="3">{{task.description}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'todo:task_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
